<form name="email_create" method="post" action="/contacts/<%= @contact.id%>/email">
  <div>
    <input type="text" name="subject" placeholder="email subject"/>
  </div>
  <div>
    <input type="text" name="body" placeholder="email body" />
  </div>


  <button type="submit"> Send Email </button>

</form>
